<div class="best-sellers-container">

  @if (loading()) {
    <p class="info-text">Chargement...</p>
  }

  @if (user()) {
    <div class="details-card">

      <p><strong>ID:</strong> {{ user()!.id }}</p>
      <p><strong>Email:</strong> {{ user()!.email }}</p>
      <p><strong>First name:</strong> {{ user()!.firstName }}</p>
      <p><strong>Last name:</strong> {{ user()!.lastName }}</p>
      <p><strong>Status:</strong> {{ user()!.isActive ? 'active' : 'blocked' }}</p>
      <p><strong>Created:</strong> {{ user()!.createdAt | date:'medium' }}</p>

      <button class="back-btn" routerLink="/admin/users">← Back</button>

    </div>
  }
</div>
