<div class="dashboard-row">
  <div class="chart-container">
    <div class="chart-header">
      <h5>Sales Analytics ($)</h5>

      <div class="period-buttons">
        <button 
          [class.active]="selectedPeriod() === 'day'" 
          (click)="setPeriod('day')">
          Day
        </button>
        <button 
          [class.active]="selectedPeriod() === 'month'" 
          (click)="setPeriod('month')">
          Month
        </button>
      </div>
    </div>

    <canvas id="salesChart"></canvas>
  </div>
</div>
